
<div class="wrapper">
  <%= simple_form_for [@cocktail,@dose] do |f| %>
    <%= f.input :description %>
    <%= f.input :ingredient_id, collection: Ingredient.all, as: :select %>
    <%= f.submit "add a Cocktail" %>
  <% end %>
</div>


